:root {
  --basic-red: #ee3643;
  --basic-green: #63a63e;
  --basic-grey: #3d546f;
  --basic-lightgrey: #c5c5c5;
  --basic-background: #f1f5f7;
  --basic-darkblue: #32425c;
  --basic-grayblue: #293449;

  --snow-background: #f9f5f0;
  --price-gray: #a9a9a9;
  --menu-yellow: #ffda96;
  --hover-menu: #1d2739;
  --hover-button: #ca2737;
  --to-buy-active: #518534;
  --to-bookmarks-active: rgba(50, 66, 92, 0.5);
  --border-superlightgrey : #e5e5e5;

  --active-link: rgba(255, 255, 255, 0.5);
  --categories-item: rgba(255, 255, 255, 0.3);
  --categories-item-hover: rgba(197, 197, 197, 0.3);
  --categories-item-active: rgba(169, 169, 169, 0.3);
  --categories-link-active: rgba(255, 209, 128, 0.5);
  --navigations-link-active: rgba(241, 245, 247, 0.5);


  --white: #ffffff;
  --black: #000000;

  --special-yellow: #ffbf47;
  --special-blue: #3bbce3;
  --special-lilac: #dc91d8;
  --special-greenlight: #8ed78f;
  --special-yellowlight: #ffc047;
  --special-lightgray: #eaeaea;

  --success: #5fbb2d;
  --error: #ba2732;
  }

  /* Global */

  body{
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: var(--black);
    background-color: var(--white);
    background-position: top center;
    background-repeat: no-repeat;
  }

  .page {
    height: 100%;
  }

  .page a {
    text-decoration: none;
  }

  .page-body {
    min-height: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  .container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }

  /*Main-header*/

  .basic-bg {
    background-color: var(--basic-background);
  }


  .main-header {
    width: 940px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.0001);
    margin-bottom: 70px;
    background-color: var(--basic-background);
  }

  .main-header-logo {
    display: inline-block;
    width: 220px;
    height: 42px;
    box-shadow: 0 5px 0 0 var(--error);
    background-image: url(../img/logo-technomart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--basic-red);
  }

  .main-header-logo:active {
    background-color: var(--error);
  }

  .header-description {
    text-align: left;
    font-size: 16px;
    line-height: 23px;
    font-style: italic;
    color: var(--basic-red);
    margin: 0;
    padding-left: 30px;
  }

  .header-phone {
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-red);
    border: 2px solid var(--white);
  }

  .header-address {
    font-size: 14px;
    line-height: 24px;
    color: var(--basic-grey);
  }

  .registration {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
  }

  .login-link {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    font-size: 21px;
    line-height: 21px;
    color: var(--black);
    background-color: var(--white);
  }


  .login-link:hover {
    color: var(--basic-red);
  }

  .login-link:active {
    color: var(--basic-lightgrey);
  }

  /* Header-navigation */

  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 42px;
    color: var(--white);
    background-color: var(--basic-grey);
    font-size: 18px;
    line-height: 24px;
  }

  .header-navigation-list {
    width: 430px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    list-style: none;
    background-color: var(--basic-grey);
  }

  .header-navigation-list :nth-child(3) {
    height: 42px;
    background-color: var(--basic-green);
  }

  .header-navigation-link {
    color: var(--white);
  }

  .header-navigation-link:active,
  .arrange-order:active {
    color: var(--active-link);
  }

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 46px;
  }

  .header-contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .arrange-order {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 42px;
    color: var(--white);
    background-color: var(--basic-green);
  }

  .arrange-order:hover {
    background-color: var(--success);
  }



  /* Site-navigation*/

  .site-navigation {
    width: 940px;
    height: 60px;
    margin: 0 auto;
    margin-top: 44px;
    padding: 0;
    padding-bottom: 65px;
    background-color: var(--basic-background);
  }

  .site-navigation-item:hover {
    background-color: var(--hover-menu);
  }

  .site-navigation-link:active {
    color: var(--active-link)
  }

  .site-navigation-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 940px;
    height: 60px;
    background-color: var(--basic-grey);
    box-shadow: 0 5px 0 0 var(--basic-darkblue);
  }

  .site-navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 31px;
    height: 60px;
  }

  .site-navigation-link {
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .containeer {
    width: 940px;
    margin: 0 auto;
  }


  /* Categories */

  .categories-slider {
     width: 940px;
    margin: 0 auto;
    padding: 0;
    display: contents;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    justify-items: center;
    align-items: center;

    list-style: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;

  }

  .categories {
    display: contents;
  }

  .categories-item {
    width: 300px;
    height: 123px;
    color: var(--white);
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
  }

  .categories-item-paragraph {
    background-color: var(--categories-item);
  }

  .categories-item-paragraph:hover{
    background-color: var(--categories-item-hover);
  }

  .categories-item-paragraph:active {
    background-color: var(--categories-item-active);
  }

  .categories-link {
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .materials {
  background-color: var(--special-yellow);
  }

  .tool {
  background-color: var(--special-blue);
  }

  .technics {
  background-color: var(--special-lilac);
  }

  .discounts {
    grid-column: 3/3;
    grid-row: 2/3;

  background-color: var(--special-greenlight);
  }

  .delivery {
    grid-column: 3/3;
    grid-row: 3/3;

  background-color: var(--special-yellow);
  }

  .links-background {
    background-color: var(--white);
    opacity: 0.3;
  }


  /* Main-slider */

  .main-slider {
    grid-column: span 2;
    grid-row: span 2;

    background-image: url(../img/Perforator.jpg);
    background-color: var(--price-gray);

    width: 620px;
    height: 266px;

  }

  .main-slider-text {
    background-color: var(--price-gray);
    background: rgba(0, 0, 0, 0.25);
  }

  .display-none {
    display: none;
  }

  .slider-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--white);
  }

  .slider-paragraph {
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
  }

  .menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 192px;
    height: 38px;
    margin-top: 25px;
    margin-right: 14px;
    height: 38px;
    text-align: center;
    color: var(--white);
    background-color: var(--basic-red);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .menu-button:hover {
    background-color: var(--hover-button);
  }

  .menu-button:active {
    background-color: var(--error);
  }

  /* Popular-goods */

  .popular-goods {
    margin:  0 auto;
    margin-top: 59px;
    display: flex;
    justify-content: space-between;

    width: 940px;
    height: 89px;
    background-color: var(--snow-background);
  }

  .description-heading {
    margin-left: 28px;
    color: var(--basic-grey);
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 400;
  }

  .popular-goods-list {
    width: 940px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    list-style: none;
    font-family: 'PT Sans', Arial, sans-serif;

  }

  .popular-goods-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 220px;
    height: 318px;
    border: 1px solid var(--special-lightgray);
  }

  .to-buy {
    color: var(--white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: var(--basic-green);
    border: 3px solid var(--basic-green);
    border-radius: 2px;
  }

  .to-buy:hover {
    background-color: var(--success);
    border: 3px solid var(--success);
    border-radius: 2px;
  }

  .to-buy:active {
    background-color: var(--to-buy-active);
    border: 3px solid var(--to-buy-active);
    border-radius: 2px;
  }

  .to-bookmarks {
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #32425C;
    border: 3px solid var(--basic-green);
    border-radius: 2px;
  }

  .to-bookmarks:hover {
    border: 3px solid var(--basic-darkblue);
    border-radius: 2px;
  }

  .to-bookmarks:active {
    color: var(--to-bookmarks-active);
    border: 3px solid var(--to-bookmarks-active);
    border-radius: 2px;
  }

  .popular-goods-product{
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
  }

  .old-price {
    color: var(--price-gray);
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
  }

  .menu-price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 141px;
    height: 38px;
    color: var(--white);
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    background-image: url(../img/catalog/price-button.png);
  }


  /* Popular-manufacturers*/

  .popular-manufacturers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    width: 940px;
    list-style: none;
  }

  .manufacturers-container {
    width: 220px;
    height: 145px;
  }

  /* Service-box*/

  .service-box {
    width: 940px;
    margin: 0 auto;
    margin-top: 40px;
    background-color: var(--basic-background);
  }

  .service-heading {
    text-align: left;
    padding-top: 64px;
    margin-bottom: 25px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
  }

  .map-button {
    min-width: 300px;
    margin-right: 0;
  }

  .service-paragraph {
    text-align: left;
  }

  .service-menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
  }

  .service-list {
    text-align: left;
    margin-top: 70px;
    padding: 0;
    padding-bottom: 99px;
    list-style: none;
  }

  .service-list-item {
    width: 240px;
    height: 61px;
    background-color: var(--basic-grey);
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;

    display: flex;
    align-items: center;
  }

  .service-list-link {
    margin-left: 22px;
    color: var(--white);
  }

  .service-list-link:active {
    color: var(--basic-grey);
  }

  .service-list-item:hover {
    background-color: var(--basic-grayblue);
  }

  .service-list-item:active {
    background-color: var(--white);
  }

  .special-heading {
    font-weight: 400;
    color: var(--basic-grey);
    margin-top: 0;
    margin-bottom: 30px;
    text-align: left;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
  }

  .features-item {
    padding: 0;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 57px;
    margin-left: 80px;
  }

  .basic-paragraph {
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
  }

  /* Delivery-list*/

  .information {
    display: flex;
    justify-content: flex-start;

    width: 940px;
    margin: 0 auto;
  }

  .delivery-list {
    text-align: left;
    padding-left: 17px;
  }

  .delivery-item {
    font-size: 18px;
    line-height: 24px;
  }

  .contacts {
    padding-left: 180px;
  }

  /* Footer*/

  /* .main-footer {
    outline: 5px solid rgba(255, 0, 0, 0.7);
    outline-offset: -5px;
  } */

  .page-footer {
    margin: 0 auto;
    margin-top: 70px;
    color: var(--white);
  }

.basic-darkblue {
  background-color: var(--basic-darkblue);
  width: 100%;
}

  .main-footer-logo {
    display: inline-block;
    width: 220px;
    height: 58px;
    box-shadow: 0 4px 0 0 var(--error);
    background-image: url(../img/logo-technomart.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--basic-red);
  }

  .main-footer-logo:active {
    background-color: var(--error);
  }


  .footer-menu {
    width: 940px;
    min-height: 193px;
    margin: 0 auto;
    background-color: var(--basic-darkblue);
    font-size: 18px;
    line-height: 24px;
  }

  .footer-string {
    display: flex;
    justify-content: space-between;
  }

  .footer-navigation,
  .footer-categories {
    list-style: none;
  }

  .footer-navigation {
    width: 546px;
    display: flex;
    justify-content: space-between;
    margin-top: 37px;
    margin-bottom: 0;
  }

  .footer-categories {
    width: 523px;
    display: flex;
    justify-content: space-between;
  }

.categories-string {
  text-align: left;
}

.categories-string {
  margin-top: 27px;
}

.card {
  text-align: left;
  font-size: 18px;
  line-height: 24px;
}

.footer-adress {
  font-style: normal;
}

  .footer-phone,
  .footer-navigation-link {
    color: var(--white);
    font-size: 18px;
    line-height: 24px;
  }

  .footer-navigation-link:hover,
  .footer-categories-link:hover {
    text-decoration: underline;
  }

  .footer-navigation-link:active{
    color: var(--navigations-link-active);
    text-decoration: none;
  }

  .footer-categories-link {
    color: var(--menu-yellow);
    font-size: 18px;
    line-height: 24px;
  }

  .footer-categories-link:active {
    color: var(--categories-link-active);
    text-decoration: none;
  }

  .basic-grayblue{
    background-color: var(--basic-grayblue);
    width: 100%;
  }

  .footer-copyright {
    width: 940px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 107px;
    font-size: 16px;
    line-height: 18px;
    background-color: var(--basic-grayblue);
  }

  .contacts-item {
    text-align: left;
    margin-bottom: 0;
  }

  .social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .social-item {
    width: 44px;
    height: 44px;
    background-color: var(--basic-grayblue);
  }

  .academy-site,
  .academy-mail {
    color: var(--menu-yellow);
  }

  .academy-mail:hover,
  .academy-site:hover {
    text-decoration: underline;
  }

  .academy-mail:active,
  .academy-site:active {
    text-decoration: none;
    color: var(--basic-red);
  }

  /* Catalog-page*/

  .catalog-menu-link {
    color: var(--black);
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
  }

  .about-perforator {
    background-color: var(--basic-background);
  }

  .perforator-list {
    width: 700px;
    list-style: none;
    margin: 0 auto;
    padding-left: 0;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .catalog-pages {
    list-style: none;
  }

  .catalog-page-link {
    color: var(--black);
    font-size: 13px;
    line-height: 18px;
    border: 1px solid var(--border-superlightgrey);
    border-radius: 2px;
    box-sizing: border-box;
  }

  /* Pop-up */
 .pop-up-button {
  color: var(--black);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
